* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}
.black {
  /* background-color: #001b32; */
  background-color: #2e2213;
}
.white {
  /* background-color: #ffe4cd; */
  /* background-color: #e2c58e; */
  /* background-color: #c2b69f; */
  background-color: #e9c76b;
}
.selected {
  background-color: brown;
}
.selectedAttack {
  background-color: rgb(18, 172, 18);
}
.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(18, 172, 18);
}
.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
.lost img {
  width: 20px;
  height: 20px;
}
